include ../../blocks/logo/logo.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    title CandyShop
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous")
  body
    header
      nav.navbar.navbar-expand-md.navbar-light.bg-light.sticky-top
        .container-fluid
          a.navbar-brand(href="index.html")
            +logo
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarResponsive")
            span.navbar-toggler-icon
          .collapse.navbar-collapse(id="navbarResponsive")
            ul.navbar-nav.ml-auto
              li.nav-item.active
                a.nav-link(href="index.html") Главная    
              li.nav-item
                a.nav-link(href="about.html") О нас
    .container-fluid
      .carousel.slide(data-ride="carousel" id="slides")
        ul.carousel-indicators
          li.active(data-target="#slides" data-slide-to="0")
          li(data-target="#slides" data-slide-to="1")
          li(data-target="#slides" data-slide-to="2")
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src="img/конфеты1.jpg", alt="")
            .carousel-caption
              h1.display-5 Широкий ассортимент конфет
              h3 Новинки
              button.btn.btn-outline-drk.btn-lg(type="button") Посмотреть
              button.btn.btn-warning.btn-lg(type="button") Купить
          .carousel-item
            img.d-block.w-100(src="img/конфеты2.jpg", alt="")
          .carousel-item
            img.d-block.w-100(src="img/конфеты3.jpg", alt="")        
    .container-fluid.padding
      ul.nav.nav-tabs(id="tab-example" role="tablist")
        li.nav-item
          a.nav-link.active(id="first-tab" data-toggle="tab" href="#first-tab-content" role="tab" aria-controls="first-tab-content" aria-selected="true") Первая ссылка
        li.nav-item
          a.nav-link(id="second-tab" data-toggle="tab" href="#second-tab-content" role="tab" aria-controls="second-tab-content" aria-selected="false") Вторая ссылка
        li.nav-item
          a.nav-link(id="third-tab" data-toggle="tab" href="#third-tab-content" role="tab" aria-controls="third-tab-content" aria-selected="false") Третья ссылка

      .tab-content(id="tab-content-example")
        .tab-pane.fade.show.active(id="first-tab-content" role="tabpanel" aria-labelledby="first-tab")
          h3 1 Загаловок
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            | nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .tab-pane.fade(id="second-tab-content" role="tabpanel" aria-labelledby="second-tab")
          h3 2 Заголовок
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            | nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .tab-pane.fade(id="third-tab-content" role="tabpanel" aria-labelledby="third-tab")
          h3 3 Заголовок
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            | nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .container-fluid
      .row.jumbotron
        .col-xs-12.col-sm-12.col-md-9.col-lg-9.col-xl-10
          p.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat perferendis iure mollitia voluptatibus incidunt. Hic quos ipsam libero, officiis dolores consequatur adipisci nulla? Odio consequuntur illo possimus distinctio repellendus reprehenderit.
        .col-xs-12.col-sm-12.col-md-3.col-lg-3.col-xl-2
          a(href="https://macgamez-download.com/2017/11/stikbold-a-dodgeball-adventure-macosx-activated-cracked-download/")
            button.btn.btn-success.btn-lg(type="button") Читать далее
    br
    br
    .container-fluid.media-object
      .media
        img.mr-3(src="img/gif1.gif" alt="...")
        .media-body
            h5.mt-0 Медиа объект
            div.media.mt-3
                img.mr-3(src="img/gif2.gif" alt="...")
                .media-body
                    h5.mt-0 Медиа объект
                     div.media.mt-3
                      img.mr-3(src="img/gif3.gif" alt="...")
      hr.my-4
      .container-fluid.padding
        .row.padding
          .offset-lg-2.col-lg-4
            h2 Информация про конфеты
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam numquam itaque provident quae, ipsa, deserunt, magnam eum tempora quos delectus nulla dolore sequi debitis enim nam minima similique? A, dolorum! 
            br
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate fugiat ut minima sed ducimus? Expedita tempore excepturi voluptatem cumque maiores. Quo veniam laudantium recusandae quisquam nihil expedita ipsa deleniti atque.
            br
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus facilis dolor cum ad harum ipsa deleniti magni placeat, odio quia, non autem distinctio! Iusto obcaecati eius tempore autem hic minus.
            br
            a.btn.btn-danger(href="https://www.appstorrent.ru/") Читать далее
          .col-lg-6
            br
            img.img-fluid(src="img/конфетыинфа.jpg")
      .container-fluid 
      .row.text-center.alert
        .col-12
          h1.display-4 Последние поступления
      br
      table.table.table-sm.table-dark
        thead
          tr
            th(scope="col") Производитель
            th(scope="col") Номенклатура
            th(scope="col") Грамм
            th(scope="col") Цена
        tbody
          tr.table-active 
            td Roshen
            td Елочка
            td 100
            td
              span.badge.badge-danger 200
                i.glyphicon.glyphicon-ruble
          tr.table-primary
            td Dove
            td Белочка
            td 200
             td
              span.badge.badge-primary 400
                i.glyphicon.glyphicon-ruble
          tr.table-info
            td Baunty
            td Райское наслаждение
            td 120
             td
              span.badge.badge-success 300
                i.glyphicon.glyphicon-ruble
      figure
        .fixed-wrap
          #fixed
      .text-center
        button.btn.btn-success.text-center(type="button" data-toggle="collapse" data-target="#gifs" id="gifsBtn") Открыть блок
      #gifs.collapse
        .container-fluid.padding
          .row.text-center
            .col-sm-6.col-md-3
              img.gif(src="img/gif1.gif", alt="")
            .col-sm-6.col-md-3
              img.gif(src="img/gif2.gif", alt="")
            .col-sm-6.col-md-3
              img.gif(src="img/gif3.gif", alt="")
            .col-sm-6.col-md-3
              img.gif(src="img/gif4.gif", alt="")
      .container-fluid.padding
        .row.alert.text-center
          .col-12
            h1.display-4 Сайты производителей
            hr
      .container-fluid.padding
        .row.padding
          .col-md-4
            .card
              img.card-img-top(src="img/roshen.png", alt="")
              .card-body
                h4.card-title Roshen
                p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur id corporis recusandae eum reprehenderit optio illum corrupti voluptates commodi laudantium. Vel ut facilis minus nam harum enim temporibus et labore?
                a.btn.btn-warning(href="https://roshenstores.com/ru") Перейти
          .col-md-4
            .card
              img.card-img-top(src="img/bounty.png", alt="")
              .card-body
                h4.card-title Bounty
                p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur id corporis recusandae eum reprehenderit optio illum corrupti voluptates commodi laudantium. Vel ut facilis minus nam harum enim temporibus et labore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor amet ab ipsa sapiente facere est consequuntur nobis aliquid totam quod animi, in saepe vero hic eaque ad possimus sequi asperiores? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet sed, fugit, similique beatae quam vel distinctio est id eum dicta tenetur asperiores natus nam voluptatibus maiores assumenda hic minima quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum assumenda illum libero, tempora, eaque ratione enim omnis illo non voluptate nesciunt repudianda.
                a.btn.btn-warning(href="https://rus.mars.com/") Перейти
          .col-md-4
            .card
              img.card-img-top(src="dove.png", alt="" width="100px")
              .card-body
                h4.card-title Dove
                p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur id corporis recusandae eum reprehenderit optio illum corrupti voluptates commodi laudantium. Vel ut facilis minus nam harum enim temporibus et labore?
                a.btn.btn-warning(href="https://www.dove.com/ru/home.html") Перейти
      .container-fluid
      .row.text-center.alert
        .col-12
          h1.display-4 Технологии, использованные на сайте
        hr
        .col-12
          p.lead Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto maxime suscipit quae saepe tempore velit id reiciendis nihil inventore illum veniam rem, debitis esse ipsa optio, vero enim porro sapiente?
    .container-fluid.padding
      .row.text-center.padding
        .col-xs-12.col-sm-6.col-md-4
          i.fas.fa-html5
          h3 HTML5
          p Lorem ipsum, dolor sit amet consectetur adipisicing.
        .col-xs-12.col-sm-6.col-md-4
          i.fas.fa-bold
          h3 Bootstrap
          p Lorem ipsum, dolor sit amet consectetur adipisicing.
        .col-xs-12.col-sm-6.col-md-4
          i.fab.fa-css3
          h3 CSS3
          p Lorem ipsum, dolor sit amet consectetur adipisicing.
      .footer.container-fluid
        .container-fluid
          .row.padding.text-center
            .col-12
              h2 Связь
            .col-12.social.padding
              a(href="https://www.instagram.com/")
                i.fab.fa-instagram
              a(href="https://www.youtube.com/")
                i.fab.fa-youtube
              a(href="https://www.facebook.com/")
                i.fab.fa-facebook
  script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous") 

